.header {
  color: $white;
  @include r($tablet) {
    border-radius: 0 0 32px 32px;
  }
  @include r($phone) {
    border-radius: 0 0 16px 16px;
  }

  .logo__img {
    @include r($lg) {
      width: 200px;
      height: auto;
    }
    @include r($tablet) {
      width: 190px;
    }
    @media (max-width: 530px) {
      max-width: 182px;
      width: 100%;
    }
    @media (max-width: 430px) {
      width: 170px;
    }
    @media (max-width: 400px) {
      width: 162px;
    }
  }

  &__wrapper {
    border-radius: 0 0 32px 32px;
    border: 1px solid #191919;
    background: linear-gradient(255deg, #100B84 0.26%, #04031E 97.6%);
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 720px;
    @include r($lg) {
      min-height: auto;
      margin: 0 -10px;
    }
    @media (max-width: 860px) {
      min-height: 610px;
    }
  }

  &__lines {
    position: absolute;
    right: -50px;
    top: 0;
    @media (max-width: 1290px) {
      width: 340px;
      height: auto;
    }
    @include r($tablet) {
      width: 310px;
    }
    @include r($sm) {
      width: 290px;
      top: 0;
    }
    @include r($phone) {
      opacity: .6;
      right: -90px;
    }
  }

  &__top,
  &__content {
    position: relative;
    z-index: 10;
    margin: 0 32px;
    @include r($tablet) {
      margin: 0 24px;
    }
    @media (max-width: 610px) {
      margin: 0 18px;
    }
  }

  &__top,
  &__top-right {
    @include flex-center;
    justify-content: space-between;
  }

  &__top-logo, &__top-btn {
    max-width: 217px;
    width: 100%;
    @media (max-width: 1290px) {
      max-width: none;
    }
  }

  &__top-btn {
    display: flex;
    z-index: 50;
    justify-content: flex-end;
  }

  &__top-logo {
    @media (max-width: 1290px) {
      max-width: max-content;
    }
  }

  &__top {
    padding-top: 32px;
    z-index: 50;
    @include r($phone) {
      padding-top: 16px;
    }

    &-logo {
      display: flex;
      position: relative;
      z-index: 500;
    }
  }

  &__top-right {
    display: flex;
    gap: 30px;
    @media (max-width: 1290px) {
      flex-direction: column-reverse;
      position: fixed;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $black-deep;
      margin: 0;
      padding: 160px 49px 0;
      gap: 50px;
      transition: all .6s;
      transform: translateX(-100%);
      @include r($lg) {
        padding-left: 43px;
      }

      &.active {
        transform: translateX(0);
      }
    }
    @media (max-width: 610px) {
      padding: 150px 24px 0;
    }
    @include r($phone) {
      padding-top: 130px;
    }
  }

  &__list {
    display: flex;
    font-size: 14px;
    gap: 25px;
    line-height: 1;
    @media(max-width: 1290px) {
      flex-direction: column;
      font-size: 18px;
      gap: 40px;
    }
    @include r($sm) {
      font-size: 16px;
    }
  }

  &__link {
    transition: color .3s, opacity .3s;
    @include r($phone) {
      font-size: 18px;
    }

    &:hover {
      color: $accent100;
    }

    &:focus {
      opacity: .4;
    }
  }

  &__telegram {
    background-color: $accent;
    @media (max-width: 1290px) {
      padding: 13px 32px;
      margin-right: 15px;
    }
    @media (max-width: 560px) {
      display: none;
    }

    &:hover {
      background-color: #673bd2;
      border-color: transparent;
    }

    &:focus {
      opacity: 1;
      background-color: transparent;
      border-color: $accent;
      color: $white;
    }
  }

  &__content {
    margin-top: auto;
    margin-bottom: 60px;
    margin-right: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 1300px) {
      margin-right: 55px;
    }
    @include r($lg) {
      flex-direction: column;
      margin-right: 18px;
      gap: 40px;
      margin-top: 70px;
    }
    @media (max-width: 860px) {
      align-items: flex-start;
    }
    @media (max-width: 650px) {
      margin-top: auto;
      margin-bottom: 40px;
    }
    @include r($sm) {
      margin-bottom: 32px;
    }

    &-decor {
      margin-top: auto;
      max-width: 495px;
      width: 100%;
      @include r($desktop) {
        max-width: 430px;
      }
      @include r($lg) {
        margin-right: auto;
        margin-bottom: -210px;
      }
      @media (max-width: 860px) {
        margin-bottom: 0;
      }
    }
  }

  &__book {
    @include objectCoverBg;
    @include r($desktop) {
      width: 365px;
      height: auto;
    }
    @include r($lg) {
      width: 330px;
    }
    @media (max-width: 860px) {
      width: 290px;
      position: absolute;
      right: 0;
      bottom: -120px;
    }
    @media (max-width: 700px) {
      width: 250px;
    }
    @media (max-width: 650px) {
      display: none;
    }
  }

  &__right {
    max-width: 670px;
    width: 100%;
    position: relative;
    z-index: 30;
    @include r($desktop) {
      max-width: 560px;
      margin-left: auto;
    }
    @include r($lg) {
      margin-left: 0;
    }
    @include r($tablet) {
      max-width: 520px;
    }
  }

  &__title {
    margin-bottom: 25px;
    @include r($lg) {
      margin-bottom: 20px;
    }
    @include r($phone) {
      font-size: 34px;
    }
    @media (max-width: 400px) {
      font-size: 32px;
    }
    @media (max-width: 380px) {
      font-size: 31px;
    }

    img {
      display: inline-block;
      transform: translateY(2px);
      @media (max-width: 1300px) {
        transform: translateY(6px);
        width: 50px;
        height: 50px;
      }
      @include r($desktop) {
        width: 46px;
        height: 46px;
        transform: translateY(8px);
      }
      @media (max-width: 530px) {
        width: 41px;
        height: 41px;
      }
      @include r($phone) {
        width: 39px;
        height: 39px;
        transform: translateY(10px);
      }
      @media (max-width: 400px) {
        width: 38px;
        height: 38px;
      }
    }
  }

  &__text {
    color: $gray100;
    max-width: 470px;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.6;
    @include r($lg) {
      margin-bottom: 40px;
    }
    @include r($phone) {
      line-height: 1.55;
    }
    @media (max-width: 450px) {
      font-size: 16px;
      max-width: 320px;
    }
  }

  &__actions {
    display: flex;
    gap: 15px;
    @media (max-width: 373px) {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    &-btn {
      &--cases {
        @include r($sm) {
          display: none;
        }
      }

      &--mobile {
        display: none;
        @include r($sm) {
          display: block;
        }
      }
    }
  }
}