<footer class="footer indent" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <img class="footer__img" src="images/footer-cars.png" alt="автомобили" width="480" height="292">
        <div class="footer__content">
          <span class="footer__digital">12 332</span>
          <p class="footer__info">
            У нас в базе материала, что хватит на всех
          </p>
          <a class="btn btn--big btn--fiol" href="https://t.me/examhuboge" target="_blank">
            Перейти в канал
          </a>
        </div>
      </div>
      <div class="footer__bottom">
        <nav class="footer__nav">
          <a class="logo" href="index.html">
            <img class="logo__img" src="images/logo.svg" alt="Логотип" width="217" height="64">
          </a>
          <div class="footer__nav-right">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#stop">Преимущества</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#mechanism">Механизм</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#functions">Функции</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#tariff">Стоимость</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#history">Отзывы</a>
              </li>
            </ul>
            <a class="footer__btn btn" href="#start">Вверх</a>
          </div>
        </nav>
        <p class="footer__mobile-text">
          © 2025. Все права защищены
        </p>
        <div class="footer__author">
          <p class="footer__root">
            © 2025. Все права защищены
          </p>
          <p class="footer__description">
            Поиск информации о подготовке к ОГЭ и ЕГЭ, ответы на экзамены, материалы для подготовки, курсы и сливы
            заданий. Перечень источников информации: ФИПИ, Рособрнадзор, образовательные платформы, онлайн-курсы, решу
            ОГЭ, решу ЕГЭ, Вконтакте, Telegram, Instagram, YouTube, TikTok, образовательные чаты и группы, Google,
            Яндекс, Mail.ru, образовательные форумы, сайты с готовыми ответами, базы заданий, репетиторские платформы,
            онлайн-школы, образовательные приложения, чаты с инсайдами, группы с материалами для подготовки, сайты с
            пробниками, платформы для тестирования, образовательные блоги, курсы от преподавателей, видеоуроки,
            PDF-материалы, шпаргалки, лайфхаки для сдачи экзаменов.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>