<footer class="footer indent" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <img class="footer__img" src="images/footer-cars.webp" alt="автомобили" width="480" height="292">
                <div class="footer__content">
                    <span class="footer__digital">15 000 000</span>
                    <p class="footer__info">
                        Рублей спасено благодаря нашему сервису!
                    </p>
                    <a class="btn btn--big btn--fiol" href="https://t.me/smotrimobil_bot" target="_blank">
                        Проверить свою
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <nav class="footer__nav">
                    <a class="logo" href="index.html">
                        <img class="logo__img" src="images/icons/logo.svg" alt="Логотип" width="187" height="40">
                    </a>
                    <button class="menu-btn menu-btn--footer">
                        <span class="menu-btn__line"></span>
                        <span class="sr-only">Взаимодействовать с меню</span>
                    </button>
                    <div class="footer__nav-right">
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#stop">Мошенникам нет</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#mechanism">Наши базы</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#functions">Функции</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#tariff">Тарифы</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#history">Отзывы</a>
                            </li>
                        </ul>
                        <a class="footer__btn btn" href="#start">Вверх</a>
                    </div>
                </nav>
                <div class="footer__nav-right footer__nav-right--mobile">
                    <a class="footer__btn btn" href="#start">Вверх</a>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link" href="#stop">Мошенникам нет</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#mechanism">Наши базы</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#functions">Функции</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#tariff">Тарифы</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#history">Отзывы</a>
                        </li>
                    </ul>
                </div>
                <p class="footer__mobile-text">
                    © 2023 Смотримобиль. Все права защищены
                </p>
                <div class="footer__author">
                    <p class="footer__root">
                        © 2023 Смотримобиль. Все права защищены
                    </p>
                    <p class="footer__description">
                        Мы уважаем вашу конфиденциальность и прилагаем максимальные усилия для обеспечения безопасности
                        ваших данных. Для получения дополнительной информации, пожалуйста, ознакомьтесь с нашим
                        <a href="https://telegra.ph/Polzovatelskoe-soglashenie-11-06-4" target="_blank">Пользовательским соглашением</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>