<header class="header" id="start">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top">
        <div class="header__top-logo">
          <img class="logo__img" src="images/logo.svg" alt="Логотип" width="217" height="64.5">
        </div>
        <nav class="header__top-right">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="#stop">Преимущества</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#mechanism">Механизм</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#functions">Функции</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#tariff">Стоимость</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#history">Отзывы</a>
            </li>
          </ul>
        </nav>
        <div class="header__top-btn">
          <a class="header__telegram btn" href="https://t.me/" target="_blank">Перейти</a>
        </div>
        <button class="menu-btn menu-btn--header">
          <span class="menu-btn__line"></span>
          <span class="sr-only">Взаимодействовать с меню</span>
        </button>
      </div>
      <div class="header__content">
        <div class="header__content-decor">
          <img class="header__book" src="images/home.png" width="402" height="434" alt="книжка декор">
        </div>
        <div class="header__right">
          <h1 class="header__title title">
            Самые сочные
            <img src="images/icons/user.png" width="56" height="55" alt="иконка пользователя">
            сливы здесь и сейчас
            <img src="images/icons/rocket.png" width="56" height="55" alt="иконка ракеты">
          </h1>
          <p class="header__text">
            Теперь у тебя есть счастливый билетик на экзамен
          </p>
          <div class="header__actions">
            <a class="header__actions-btn btn btn--big btn--fiol" href="https://t.me/smotrimobil_bot" target="_blank">
              Перейти в канал
            </a>
            <a class="header__actions-btn header__actions-btn--cases btn btn--big" href="#history">
              Отзывы
            </a>
            <a class="header__actions-btn header__actions-btn--mobile btn btn--big" href="#history">
              Отзывы
            </a>
          </div>
        </div>
      </div>
      <img class="header__lines" src="images/home-decor.svg" width="372" height="394" alt="декоративные полоски">
    </div>
  </div>
</header>